apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: helm-charts
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    argocd.argoproj.io/app-of-apps: "true"
    app.kubernetes.io/name: helm-charts
spec:
  project: default
  source:
    repoURL: https://github.com/mlinfra-eks/eks-resources
    targetRevision: HEAD
    path: hub/argocd/helm-charts
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 1m
